html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #222;
  text-align: center;
  background-blend-mode: darken;
  background-image: url(images/k.jpg);
  overflow-x: hidden;
}

body:before {
  content: "";
  height: 100vh;
  width: 100vw;
  display: block;
  position: absolute;
  box-shadow: inset 0 0 10em rgba(0, 0, 0, 1);
  animation: flicker 32s linear infinite;
}

@keyframes flicker {
  0% {
    background: #fff;
    opacity: 0
  }

  10% {
    background: #fff;
    opacity: 0
  }

  10.1% {
    background: #fff;
    opacity: 1
  }

  10.2% {
    background: #fff;
    opacity: 0
  }

  23% {
    background: #fff;
    opacity: 0
  }

  23.1% {
    background: #fff;
    opacity: 1
  }

  23.2% {
    background: #fff;
    opacity: 0
  }

  35% {
    background: #fff;
    opacity: 0
  }

  35.1% {
    background: #fff;
    opacity: 1
  }

  35.2% {
    background: #fff;
    opacity: 0
  }

  48% {
    background: #fff;
    opacity: 0
  }

  48.1% {
    background: #fff;
    opacity: 1
  }

  48.2% {
    background: #fff;
    opacity: 0
  }

  60% {
    background: #fff;
    opacity: 0
  }

  60.1% {
    background: #fff;
    opacity: 1
  }

  60.2% {
    background: #fff;
    opacity: 0
  }

  72% {
    background: #fff;
    opacity: 0
  }

  72.1% {
    background: #fff;
    opacity: 1
  }

  72.2% {
    background: #fff;
    opacity: 0
  }

  85% {
    background: #fff;
    opacity: 0
  }

  85.1% {
    background: #fff;
    opacity: 1
  }

  85.2% {
    background: #fff;
    opacity: 0
  }

  99% {
    background: #fff;
    opacity: 0
  }

  99.1% {
    background: #fff;
    opacity: 1
  }

  99.2% {
    background: #fff;
    opacity: 0
  }

  100% {
    background: #fff;
    opacity: 0
  }
}

#twitch {
  font-size: 8em;
  margin: 0 auto;
  height: 100vh;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#twitch span {
  display: block;
  font-size: .6em;
  opacity: .8;
}

#twitch div {
  position: absolute;
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 25s linear infinite;
}

#twitch div:nth-child(2) {
  animation-delay: 3s
}

#twitch div:nth-child(3) {
  animation-delay: 6s
}

#twitch div:nth-child(4) {
  animation-delay: 9s
}

#twitch div:nth-child(5) {
  animation-delay: 12s
}

#twitch div:nth-child(6) {
  animation-delay: 15s
}

#twitch div:nth-child(7) {
  animation-delay: 18s
}

#twitch div:nth-child(8) {
  animation-delay: 21s
}

@keyframes switch {
  0% {
    opacity: 0;
    filter: blur(3px);
    transform: scale(.95);
    text-shadow: 40px 42px 2px rgba(0, 0, 0, .2)
  }

  3% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1);
    text-shadow: 40px 42px 2px rgba(0, 0, 0, .1)
  }

  6% {
    opacity: .7;
    filter: blur(2px);
    transform: scale(1);
    color: #fff;
    text-shadow: 40px 42px 2px rgba(0, 0, 0, .1)
  }

  10% {
    opacity: .7;
    filter: blur(3px);
    transform: scale(1.1);
    color: #000;
    text-shadow: 40px 42px 2px rgba(0, 0, 0, .1)
  }

  10.1% {
    opacity: .8;
    filter: blur(2px);
    transform: scale(2);
    color: #fff;
    text-shadow: -40px -142px 2px rgba(0, 0, 0, .1)
  }

  10.2% {
    opacity: .8;
    filter: blur(2px);
    transform: scale(2);
    color: #fff;
    text-shadow: 40px 42px 2px rgba(0, 0, 0, 0, .1)
  }

  11.1% {
    opacity: .8;
    filter: blur(2px);
    transform: scale(2);
    color: #111;
    ;
    text-shadow: 40px 42px 2px rgba(0, 0, 0, .1)
  }

  11.2% {
    opacity: .7;
    filter: blur(2px);
    transform: scale(2);
    color: #fff;
    text-shadow: 90px 52px 2px rgba(0, 0, 0, .1)
  }

  12% {
    opacity: .7;
    filter: blur(5px);
    transform: scale(1.1);
    color: black;
    text-shadow: 90px 52px 2px rgba(0, 0, 0, 0)
  }

  12.1% {
    opacity: .7;
    filter: blur(5px);
    transform: scale(1.1);
    color: #000;
    text-shadow: -90px -52px 2px rgba(0, 0, 0, 0)
  }

  13% {
    opacity: 0;
    filter: blur(3px);
    transform: scale(1);
    color: #000;
    text-shadow: 40px 42px 2px
  }

  12.1% {
    opacity: .7;
    filter: blur(5px);
    transform: scale(1.1);
    color: #000;
    text-shadow: -90px -52px 2px rgba(0, 0, 0, 0)
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.weiß {
  font-size: 25px;
  color: white;
  z-index: 3;
  position: absolute;
  top: 30px;
  text-align: center;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  top: 85%;
}

.startButton {
  position: absolute;
  bottom: 20%;
  height: 5%;
  width: 20%;
  left: 40%;
  background: rgba(0, 0, 0, 0.1);
}

.startButton : hover {
  background-image: url(images/bloodSplatter.png);
}

.fullWidth {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background: none;
  border: none;
  color: white;
  font-size: 25px;
}

.content3 {
  position: absoulte;
  margin-bottom: 50px;
  font-size: 20px;
  color: white;
  line-height: 2.0;
}

.height5zeilen {
  min-height: 200px;
  width: 100%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5%;
}

/* Background */
.linehight {
  line-height: 30px;
}

.site-sub-title {
  padding-top: 15%;
  padding-bottom: 10%;
  font-size: 25px;
}

.margin-right {
  margin-right: 5%;
}

.border-tb {
  padding-top: 5%;
  padding-bottom: 5%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.border-t {
  padding-top: 5%;
  padding-bottom: 5%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-top: 5%;
  height: 300px;
  width: 80%;
  left: 10%;
  position: absolute;
}

.color-grey {
  color: grey;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 120px;
  min-width: 150px;
  margin-right: 10%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 250px;
  color: grey;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.haupt {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.0);
  float: right;
}

.myvideo {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: auto + 20px;
  z-index: 0;
}

.flip-card-front-video {
  width: 100%;
  z-index: 2;
  height: 100%;
  object-fit: initial;
  position: absolute;
}

.flip-card-front-text {
  width: 100%;
  z-index: 1;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  margin-top: 40%;
}

.flip-card-hight {
  width: 300px;
  height: 350px;
}

.content {
  position: absolute;
  width: 100%;
  height: 80%;
}

.nomargin {
  margin: 0;
  top: 0;
  left: 0;
}

.marnewcont {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.marginb {
  margin-bottom: 30px;
}

.nobg {
  background-color: rgba:(0, 0, 0, 0.0);
}

.z1 {
  z-index: 1;
  color: white;
  font-size: 50px;
  text-align: center;
}

.mitte {
  content: "";
  display: block;
  overflow: hidden;
  box-shadow: inset 0 0 10em rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 800px;
  margin-left: -400px;
  color: black;
  animation: flicker 32s linear infinite;
}

.content2 {
  background: black;
  border: 1px solid black;
  padding-top: -50px;
  text-align: center;
  right: 0;
  color: white;
  z-index: 2;
  position: absolute;
  border-top: 1px solid grey;
}

h1 {
  font-size: 36px
}

.rollenueb, h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

.content, h5, p {
  font-size: 18px
}

h6 {
  font-size: 16px
}

.w3-serif {
  font-family: "Courier New";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0
}

.w3-wide {
  letter-spacing: 4px
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0
}

h1, h2, h3, h4, h5, {
  color: white;
  background-color: black;
}

table {
  width: 100%;
  text-align: center;
  border: 0px solid grey;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 0 1.6em;
  table-layout: fixed;
  width: 100%;
  border-top: 2px solid grey;
  padding-top: 20px;
}

td {
  width: auto;
  height: 300;
}

tr {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.rollenueb {
  border-top: 2px solid grey;
  padding-top: 5%;
}

.mySlides {
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px;
  margin: 20px;
  float: left;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #00FF7F;
  color: black;
  font-size: 21px;
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-card-back-red {
  background-color: rgb(255, 20, 60);
  color: black;
  transform: rotateY(180deg);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#villager {
  background-image: url(images/bauerfertig.jpg);
  background-size: 100%;
}

#hunter {
  background-image: url(images/jeagerfertig.jpg);
  background-size: 100%;
}

#witch {
  background-image: url(images/hexifertig.jpg);
  background-size: 100%;
}

#vilkolakis {
  background-image: url(images/wolfifertig.jpg);
  background-size: 100%;
}

.w3-btn, .w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-btn, .w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

@media (min-width:601px) {
  .w3-col.m1 {
    width: 8.33333%
  }

  .w3-col.m2 {
    width: 16.66666%
  }

  .w3-col.m3, .w3-quarter {
    width: 24.99999%
  }

  .w3-col.m4, .w3-third {
    width: 33.33333%
  }

  .w3-col.m5 {
    width: 41.66666%
  }

  .w3-col.m6, .w3-half {
    width: 49.99999%
  }

  .w3-col.m7 {
    width: 58.33333%
  }

  .w3-col.m8, .w3-twothird {
    width: 66.66666%
  }

  .w3-col.m9, .w3-threequarter {
    width: 74.99999%
  }

  .w3-col.m10 {
    width: 83.33333%
  }

  .w3-col.m11 {
    width: 91.66666%
  }

  .w3-col.m12 {
    width: 99.99999%
  }
}

@media (min-width:993px) {
  .w3-col.l1 {
    width: 8.33333%
  }

  .w3-col.l2 {
    width: 16.66666%
  }

  .w3-col.l3 {
    width: 24.99999%
  }

  .w3-col.l4 {
    width: 33.33333%
  }

  .w3-col.l5 {
    width: 41.66666%
  }

  .w3-col.l6 {
    width: 49.99999%
  }

  .w3-col.l7 {
    width: 58.33333%
  }

  .w3-col.l8 {
    width: 66.66666%
  }

  .w3-col.l9 {
    width: 74.99999%
  }

  .w3-col.l10 {
    width: 83.33333%
  }

  .w3-col.l11 {
    width: 91.66666%
  }

  .w3-col.l12 {
    width: 99.99999%
  }
}

.w3-rest {
  overflow: hidden
}

.w3-stretch {
  margin-left: -16px;
  margin-right: -16px
}

.w3-content, .w3-auto {
  margin-left: auto;
  margin-right: auto
}

.w3-content {
  max-width: 980px
}

.w3-auto {
  max-width: 1140px
}

.w3-cell-row {
  display: table;
  width: 100%
}

.w3-cell {
  display: table-cell
}

.w3-cell-top {
  vertical-align: top
}

.w3-cell-middle {
  vertical-align: middle
}

.w3-cell-bottom {
  vertical-align: bottom
}

.fixeddiv {
  position: fixed;
}

.spielbereich {
  margin-left: 2%;
  margin-top: 0;
  height: 100%;
  width: 100%;
  color: white;
}

.rollentextbereich {
  margin-bottom: 10px;
  min-height: 50px;
  text-align: center;
}

p.rollentext {
  font-size: 30px;
  padding-top: 10 px;
  padding-bottom: 10px;
}

.anzeigebereich {
  margin-bottom: 10px;
}

.handlungsbereich {
  min-height: 200px;
  margin-bottom: 10px;
  float: none;
  border: 2px solid white;
  position: absolute;
}

.spielerrollenbild {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  position: relative;
  margin-top: 40px;
  margin-bottom: 60px;
}

.spielerrollenbildabsolut {
  position: absolute;
}

.fähigkeiten {
  width: 200px;
  height: 200px;
  color: black;
  border-radius: 100px;
  float: none;
  display: block;
  margin-top: 20px;
  text-align: center;
}

.width200px {
  width: 150px;
  text-align: center;
}

.liddlmargin {
  margin-left: 10px;
}

/*IMPRESSUM*/
.impresRight {
  right: 5%;
  width: 30%;
  font-size: 22px;
  position: absolute;
  color: white;
}

.impresMiddle {
  width: 250px;
  height: 250px;
  left: calc(50% - 125px);
  background-image: url(images/ba.jpg);
  background-size: 100% 100%;
  position: absolute;
}

.impresLeft {
  left: 5%;
  width: 30%;
  font-size: 22px;
  position: absolute;
  color: white;
}

li {
  margin-bottom: 10px
}

;